@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    align-content: center;
}

h1 {
    text-align: center;
}

#chart-input {
    margin: 10px 10px 30px 10px;
    text-align-last: center;
}

#data-input-label {
    font-size: x-large;
}

#data-input {
    width: 200px;
    font-size: x-large;
    text-align-last: left;
}

#clear-btn {
    font-size: x-large;
}

#add-data-button {
    font-size: x-large;
}

#download-btn {
    font-size: x-large;
}


#chart-container {
    width: max-content;
    height: max-content;
    margin: 0 auto;
    background-color: #f7f7f7;
}

#footer {
    text-align: center;
}

code {
    padding: 2px 4px;
    background-color: #efefef;
    border-radius: 4px;
}